<div class="custom-announcement-bar"> 
  <a href="https://google.com" class="custom-announcement-bar-link">
    <p class="custom-annoucenement-bar-message">This is a test announcement for Shopify</p>
  </a>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}