<div class="custom-announcement-bar">
  <a href="https://google.com" class="custom-announcement-bar-link">
    <p class="custom-annoucenement-bar-message">This is a test announcement for Shopify</p>
  </a>
</div>

{% style %}
  .custom-announcement-bar{
    text-align: center;
  }
  .custom-annoucement-bar a {
    text-decoraction: none;
    color: red;
  }
{% endstyle %}

{% schema %}
{
  "name": "Custom Announcement Bar",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
