<div class="custom-announcement-bar">
  <a href="https://google.com" class="custom-announcement-bar-link">
    <p class="custom-annoucenement-bar-message">{{ section.settings['announcement-bar-text'] }}</p>
  </a>
</div>

{% style %}
  .custom-announcement-bar{
    text-align: center;
  }
  .custom-annoucement-bar a {
    text-decoraction: none;
    color: red;
  }
{% endstyle %}

{% schema %}
{
  "name": "Custom Announcement Bar",
  "settings": [
    {
      "type": "text",
      "id": "announcement-bar-text",
      "default": "This is a default announcement",
      "label": "Annoucement Text"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
