<div class="custom__bar">
  <a href="https://google.com">
    <p class="custom__bar__msg">{{ section.settings['announcement-bar-text'] }}</p>
  </a>
</div>

{% style %}
  .custom__bar a p{
    text-align: center;
  }
  .custom__bar a p{
    text-decoraction: none;
    color: red;
  }

  .custom__bar__msg{
    font-size: {{section.settings.font-size}}px;
  }
{% endstyle %}

{% schema %}
{
  "name": "Custom Announcement Bar",
  "settings": [
    {
      "type": "text",
      "id": "announcement-bar-text",
      "default": "This is a default announcement",
      "label": "Annoucement Text"
    },
    {
      "type": "range",
      "id": "font-size",
      "default": 14,
      "label": "Font Size",
      "min": 12,
      "max": 26,
      "step": 1,
      "unit": "px"

    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
